@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(34, 29, 23);
    width: 100%;
    padding: 0; /* Remover padding desnecessário */
    box-sizing: border-box;
}

.content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
}

.content div{
    width: 50%;
    box-sizing: border-box;
    max-width: 1000px;
}

/* Mobile version style */
@media (max-width: 768px) {
    body{
        display: flex;
        flex-direction: column;
    }
    .content {
        flex-direction: column;
        justify-content: center;
    }

    .content div {
        width: 100%;
    }

}

.footer {
    height: 5vh;
    background-color: rgb(0, 0, 0);
    color: #FF9900;
    display: flex;
    align-items: center;
    justify-content: center;
}